@model IEnumerable<PartyInvites.Models.GuestResponse>
@{
    Layout = null;
}

<!DOCTYPE htnl>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Responces</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="panel-body">
        <div calss="table table-sm table-striped table-bordered">
            <h2>Here is the  list of people attending the party</h2>
            <table>
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Phone</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (PartyInvites.Models.GuestResponse r in Model)
                    {
                        <tr>
                            <td>@r.Name</td>
                            <td>@r.Email</td>
                            <td>@r.Phone</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>