@{ 
    Layout = null;
}

<!DOCTYPE htnl>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head>
<body>
    <p>@ViewBag.Greeting, World!</p>

    <p>We`re going  to have an  exciting party <br/>
    (To do: sell it better. Add pictures or something.)</p>

    <a asp-action="RsvpForm">RSVP Now!</a>
</body>
</html>